
<nav class="navbar navbar-expand-lg navbar-light bg-light mt-5 ps-5">

    <form >
        <input class="form-control mr-sm-2 " style="width: 900px;" type="search" placeholder="Search" aria-label="Search" #searchBar >
       
      </form>
</nav>




<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Thumbanail</th>
        <th scope="col">title</th>
        <th scope="col">brand</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; index as i ">
        <th scope="row">{{i+1}}</th>
        <td><img src="{{item.images[0]}}" width="50" height="50"  alt=""></td>
        <td>{{item?.title}}</td>
        <td>{{item.brand}}</td>
        <td>{{item.description}}</td>
      </tr>

    </tbody>
  </table>